@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
.products-header{
  width:100%; background-color: #ff1d58;  display: flex; align-items: center; justify-content: space-around; height:9vh; font-family: 'Rajdhani', sans-serif;
  position: sticky; top:0; z-index: 10;

}
.main-header{ 

color:white;  font-size: 2.2rem; font-weight: 100;
}
.cart-button{
    
font-size: 2rem;  width:12%; height: 60%; border:none; border-radius: 12px; padding:10px; background-color: #a1304e; cursor: pointer; 
display: flex; justify-content: space-around; 
}
.cart-button:hover .icon{
    transform: scale(1.2);
}
.cart-button .icon{
    color:white; transition: .3s all;
}
.cart-button .cart-items{
    color:white;
}



@media only screen and (max-width: 600px) {
    /* Add your responsive styles here */
    .products-header {
      /* Reduce the font size on smaller screens */
      font-size: 1.6rem;
    }
    .main-header {
      /* Reduce the font size on smaller screens */
      font-size: 1.6rem;
    }
    .cart-button {
      /* Reduce the font size and width on smaller screens */
      font-size: 1.6rem;
      width: 30% !important; height:50%;
    }
  }

  @media only screen and (max-width: 1060px) {
    /* Add your responsive styles here */
    .products-header {
      /* Reduce the font size on smaller screens */
      font-size: 2rem;
    }
    .main-header {
      /* Reduce the font size on smaller screens */
      font-size: 1.6rem;
    }
    .cart-button {
      /* Reduce the font size and width on smaller screens */
      font-size: 1.6rem;
      width: 20%; height:50%;
    }
  }




  @media only screen and (max-width: 410px) {
    .products-header { position: static !important;
      font-size: 1.2rem;
    }
    .main-header {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 700px) and (max-height:520px){
    .products-header{
      height: 14vh;
    }
  }












/* .cart-button{
    background-color: #a9627b; width:12rem; display: flex; justify-content: center; align-items: center; border-radius: 40%; height: 3.6rem; color:white; font-weight: 600; cursor: pointer;
}
.cart-button > span{
margin-left:15px;
}
.cart-items{
    background-color: #b82d5e; width:20%; height: 2rem; text-align: center; color:white; border-radius: 50%; display: flex; justify-content: center; align-items: center;
} */