.services{
    height:auto !important; background:#14a78c; background-size:cover ; color:white; box-sizing: border-box; font-size: 1.4rem; padding:4px; 
}

.website-services{
    width:96%;  margin-right:auto; margin-left:auto; padding:30px;  box-sizing: border-box;
}

@media (max-width:1344px){
    .services{
        height: 150vh;
    }
    .website-services{
        width:80%;
    }
}

  @media (max-width:1160px){
    .services{
      height:130vh;
    }
  }
  @media (max-width:1074px){
.services{
    height: 140vh;
}}
@media (max-width:957px){
    .services{
        height: 170vh;
    }
  }
  @media (max-width:830px){
    .services{
        height:200vh;
      }}
      @media (max-width:698px){
        .services{
            height: 220vh;
        }}
        @media (max-width:570px){
            .services{
                height: 240vh;
            }}
@media screen and (max-width:500px){
    .services{
height:180vh;

    }
    .website-services{
         padding:0; width: 86% !important;
    }
    .website-services:nth-child(5){
        height: 30vh !important;
    }
  }

  @media (max-width:400px){
    .services{
        height: 310vh;
    }}
.hidden{
    transition: all 0s ;
    opacity: 0;
    transform: translateX(-100%);
}
.show{
    opacity: 1;
        transform: translateX(0%);
        filter: blur(0);

}


