.services{
    height:auto !important; background:#14a78c; background-size:cover ; color:white; box-sizing: border-box; font-size: 1.4rem; padding:4px; 
}

.website-services{
    width:96 !important;  margin-right:auto; margin-left:auto; padding:30px;  box-sizing: border-box; 
}

@media (max-width:1344px){


}

  @media (max-width:1160px){
    .services{
      height:auto !important;
    }
  }



@media screen and (max-width:500px){

    .website-services{
         padding:0; width: 86% !important;
    }
    .website-services:nth-child(5){
        height: 30vh !important;
    }
  }


.hidden{
    transition: all 0s ;
    opacity: 0;
    transform: translateX(-100%);
}
.show{
    opacity: 1;
        transform: translateX(0%);
        filter: blur(0);

}


