.cart{
    display: flex; flex-direction: column; 
}
.cart-items{
   height: 80vh; overflow-y: auto; border-bottom:solid 1px black;
}
.cart-control{
    display: flex;  justify-content: space-between; flex-direction: column; 
}
.total-amount{
    text-align: left; font-size: 1.7rem;
}
.cart-buttons{
    text-align: right; margin-top: 2vh;;
}
.cart-buttons{
    width:100%; height:5vh;
}
.cart-buttons button{
    height:100%; width:30%; background-color: #f60; border:none; border-radius: 9px; color:white;
}
.order-btn{
    margin-left:20px; background-color: transparent !important; color:#f60 !important; border:solid 2px #f60 !important; transition: all .4s;
}
.order-btn:hover{
    background-color: #f60 !important; color:white !important;
}
.close-btn:hover{
    background-color: rgb(242, 105, 25);
}