@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
.about {
    height: auto;
    background: url(../../assets/about.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 56rem;
    background-position-y: 5rem;
    background-color: #ff1d58;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    width:auto; overflow-x: hidden;
  }
  
  @media only screen and (max-width: 768px) {
    .about {
      background-position-x: 30rem;
      font-size: 1.1rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .about {
      background-position-x: 20rem;
      font-size: 1.1rem;
      width: 100% !important;
    }
  }
  
  .about-header {
    width: 100%;
    background-color: #14a78c;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 9vh;
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.8rem;
    text-indent: 30px;
    color: white;
  }
  
  @media only screen and (max-width: 768px) {
    .about-header {
      font-size: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .about-header {
      font-size: 1.3rem;
    }
  }
  
  .about p {
    padding: 20px;
    width: 70%;
  }
  
  @media only screen and (max-width: 768px) {
    .about p {
      width: 80%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .about p {
      width: 90%;
    }
  }
  