.button-card{
    padding:5px; width:7rem; height:3rem;
color:white; background-color: #d8a20f; border:none; box-shadow: inset 0 0 0 0 #d8a20f; transition: .2s ease-in; font-size: 1rem; cursor: pointer;} 

.button-card:hover{
box-shadow: inset 7rem 0 0 0 #c19313;
}